html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    overflow-x: hidden;   
}
.header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.navbar-ul{
    display: flex;
    margin-left: 400px;
    flex-wrap: wrap;
    
}
.image1{
    margin-left: 40px;
    margin-top: 20px;
}
.navbar-li{
    margin: 53px;
    flex-wrap: wrap;
}
.link{
    list-style: none;
    text-decoration: none;
    color: #707070;
}

.image2{
    width: 100%;
    margin-top: 40px;
}


.title1{
    
    font-size: 40px;
    margin-top: 40px;
    margin-left: 20px;
    
}
.title2{
    
    font: 30px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.block1,.block2,.block3{
    margin: 10px;
    flex-wrap: wrap;
         
}

.paragrap1{
 font-size: 18px;
 

}
.paragrap2{
    margin-left: 400px;
    margin-top: 50px;
    font-size: 24px;
}
.section1{
    margin-top: 50px;
    display: flex; 
}
.section2{
    margin-top: 50px;
    display: flex; 

}
.paragrap3{
    font-size: 30px;
    margin-top: 70px;
    margin-left: 65px;
    color: #707070;
    text-decoration: #707070;
    
}
footer{
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    flex-wrap: wrap;
    
}
.link1{
    color: #707070;
    

}
.image4{
    margin: 40px;
    margin-top: 100px;
    margin-left: 400px;

}
.image5{
    margin-top: 100px;
}
    
.block4,.block5,.block6{

    margin: 70px;
    margin-top: 100px;

}
@media (max-width: 601px){
    .section2,.section1,.header,.footer,.section3,.block,.title1,.image13{
        display: none;

    }   
  } 
    @media   (max-width: 1930px)   {
        .section3{
            display: none;
        }
    }
    @media (max-width: 600px){
        .section3{
            display: block;
        }
        .footer{
            width: 100%;
            background-color:black ;
        }
        .paragrap4{
            font-size: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .span1{
            font-size: 20px;
            margin-left: 50%;
            margin-top: 70px;
            
            color: #707070;
        }
        .picture{
            width: 100%;
        }
        
        
        .paragrap5{
            font-size: 30px;
            margin-bottom: 30px;
            margin-top: 30px;
            margin-left: 50px;
        }
        .picture1{
            margin-left: 20px;
        }
        .picture2{
            margin-left: 100px;

        }
        .image4,.image5{
            display: flex;
            margin-right: 200px;
            margin: 5px;
           margin-top: 150px;
        }
        .picture4{
            width: 100%;
        }
      
        .paragrap1{
            width: 100%;
        }
        .paragrap2{
            margin-left: 250px;
            font-size: 20px;
        }
        .link3{
            text-decoration: none;
           list-style: none;
           color:#707070 ;
           margin-bottom: 20px;
        }
      
    }
@media (max-width: 1010px){
    .section2,.section1,.header,.footer,.section3,.block,.title1{
        flex-wrap: wrap;
    }
}

        


    
    



